<div class="card">
    <div class="card-header">
      敬拜的先辈
    </div>
  
    <div class="card-body">
        <p>
            今良辰吉日,袁氏{{this.fubei}}，{{this.huangdi}}主脉，{{this.benzhiId}}后裔。数百之众，齐聚小坝，奉祭祖茔。祖之嗣孙，至孝至笃，追思怀缅。祖德丰功，史册名扬。
    先祖墓前，礼炮震天，红烛含泪。众裔孙辈，思绪万千。追念伊始，保境安民，稳定边陲，创业维艰。吾祖讳纲，祖妣傅氏，儒溪长官，袁昱长子。经纶纪纬，乃祖胞弟，执掌儒溪，滋城关隘，国之栋梁。
    吾祖原籍，江西庐陵。乃入蜀祖，三边总制，袁公世明，十一世孙。始祖奉旨，入蜀平南，讨伐夷乱。战事奏凯，留镇守土，不复江西。贵忠隆绍，彬珍弼胜，血脉相承。昱传我祖，授职儒溪，尽忠为国。历经岁月，五百余年，枝叶纷繁，源远流长。
    纲生睿安，承袭祖职，丰功不朽。睿守古滋，体恤黎民，建业多功。水西之乱，安公率军，驰骋疆场，六广一役，以身殉国。袁氏一脉，代代忠良，辈出英豪。世代长官，世袭罔替，将军督抚，千户百户，冠带总旗，安邦治国，造福桑梓，功业垂堂。
    后世子孙，忠孝传家，族训于心。赤心报国，尚武修文，恪守法纪。袁氏示范，睦邻敦族，崇尚孝悌。知情感恩，重情重义，拳拳在心。当今盛世，袁氏子孙，定铭族训，不忘初心。继往开来，彰显奇能，重振家风，千古流芳。
    祖之茔前，祈求吾祖，护佑后裔，瓜瓞绵绵。房房富贵，辈出英才，门第书香。
    呜呼哀哉，祖若有灵，来格来尝，伏维尚飨。
        </p>
        <p>

        </p>
    </div>
  </div>
  <div class="container">
      <router-outlet></router-outlet>
    </div>
